{% extends "exercise/base.html" %}
{% block title %}THIS IS IT{%endblock%}
{% block subtitle %}Great job{%endblock%}

{% block task %}
<h2>You are awesome!</h2>
<p>
    Congratulations. You have completed all our exercises. Now there are a few more formalities to complete.
</p>
{%endblock%}


{% block solution %}
<p>
    Please take the whole project, compress it with your favourite utility and email it to
    <code>bohumil.fiala@iseco.cz</code> and
    <code>petr.spurny@iseco.cz</code> with a meaningful subject and your name in the body. If you have any comments on
    the code or
    the exercise, please send them to us as well, it is always great to get feedback.</br></br>

    That's it, have a nice day.
</p>
{%endblock%}