{% extends "exercise/base.html" %}
{% block title %}Exercise 1 - Hidden secret{%endblock%}
{% block subtitle %}Something fishy on this site{%endblock%}

{% block task %}
<h2>Hi, nice to meet you.</h2>
<p>
    Welcome to the first exercise in your journey to become part of our team. In each exercise you will need to complete
    a task to progress to the next challenge. The task will be marked with a red explanation marker, like the one on the
    left.<br />
    Ok, enough formalities for now.<br />
    To complete your first task, you need to find something <strong>hidden</strong> on this page. Good luck and see you
    in the next challenge.
</p>
{%endblock%}


{% block solution %}
<div class="is-hidden">
    <div class="content is-medium">
        <h3>Well done, you found me :-)</h3>
    </div>
    <form action="/exercise/1" method="post">
        <div class="control">
            <button class="button is-success">
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
                <span>Move to the next exercise</span>
            </button>
        </div>
    </form>
</div>
{%endblock%}